/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

resources/registry_authentication/*.key
resources/registry_authentication/*.crt
resources/registry_authentication/htpasswd